@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* define theme colors */

:root {
  --fore-rgb: 41, 40, 37;
  --fore-secondary-rgb: 82, 77, 65;
  --fore-entry-rgb: 81, 78, 71;
  --fore-light-rgb: 131, 125, 110;
  --fore-lighter-rgb: 188, 185, 177;
  --fore-danger-rgb: 228, 91, 14;
  --fore-gray-rgb: 132, 130, 126;
  --fore-gray-light-rgb: 174, 171, 163;
  --fore-positive-rgb: 15, 170, 30;
  --back-danger-rgb: 246, 217, 193, 0.36;
  --link-rgb: 212, 106, 68;
  --text-hover-bg-rgb: 0, 0, 0, 0.05;
  /* --back-rgb: 255, 252, 245; */
  --back-rgb: 243, 233, 208;
  --back-dim-rgb: 237, 225, 196;
  --back-dark-rgb: 226, 214, 180;
  --back-light-rgb: 248, 246, 238;
  --back-lightest-rgb: 245, 243, 237;
  --back-active-rgb: 235, 88, 88, 0.55;
  --border-rgb: 213, 206, 190;
  --border-light-rgb: 229, 226, 216;
  --border-gray-rgb: 238, 238, 238;
  --card-rgb: 255, 254, 252;
  --fill-positive-rgb: 92, 213, 133, 0.9;
  --fill-light-gray-rgb: 233, 231, 226;
  --fill-primary-light-rgb: 220, 155, 88, 0.92;
  --shadow-color-rgb: 0, 0, 0, 0.1;
  --button-bg-default-rgb: 41, 40, 37;
  --button-bg-primary-rgb: 29, 180, 128;
  --brandlogo-rgb: 224, 93, 53, 0.9;
}

[data-theme="dark"] {
  /* --fore-rgb: 232, 234, 237; */
  --fore-rgb: 233, 230, 226;
  /* --fore-secondary-rgb: 173, 178, 190; */
  --fore-secondary-rgb: 206, 203, 201;
  --fore-entry-rgb: 174, 177, 184;
  /* --fore-light-rgb: 180, 184, 195; */
  --fore-light-rgb: 141, 140, 140;
  /* --fore-lighter-rgb: 110, 121, 130; */
  --fore-lighter-rgb: 123, 121, 119;
  /* --fore-danger-rgb: 178, 113, 137; */
  --fore-danger-rgb: 196, 112, 143;
  --fore-gray-rgb: 123, 125, 129;
  --fore-gray-light-rgb: 81, 84, 92;
  --fore-positive-rgb: 240, 85, 225;
  --link-rgb: 186, 118, 93;
  --link-rgb: 80, 136, 183;
  --text-hover-bg-rgb: 255, 255, 255, 0.05;
  /* --back-rgb: 5, 21, 29; */
  --back-rgb: 2, 12, 16;
  --back-dim-rgb: 18, 30, 59;
  /* --back-dark-rgb: 52, 60, 70; */
  --back-dark-rgb: 51, 55, 60;
  /* --back-danger-rgb: 178, 113, 137, 0.11; */
  --back-danger-rgb: 234, 176, 197, 0.11;

  --back-light-rgb: 7, 9, 17;
  --back-lightest-rgb: 10, 12, 18;
  --back-active-rgb: 19, 167, 167, 0.55;
  --border-rgb: 42, 49, 65;
  --border-light-rgb: 26, 29, 39;
  --border-gray-rgb: 17, 17, 17;
  /* --card-rgb: 31, 40, 51; */
  --card-rgb: 37, 41, 46;
  --fill-positive-rgb: 65, 136, 89, 0.9;
  --fill-light-gray-rgb: 22, 24, 29;
  --fill-primary-light-rgb: 48, 86, 125, 0.92;
  --shadow-color-rgb: 0, 0, 0, 0.25;
  /* --button-bg-default-rgb: 56, 72, 92; */
  --button-bg-default-rgb: 49, 65, 85;
  --button-bg-primary-rgb: 39, 136, 104;
  /* --brandlogo-rgb: 83, 95, 107; */
  --brandlogo-rgb: 134, 131, 129;
}

@layer components {
  .padding-x-sm {
    @apply px-4 lg:px-5;
  }
  .padding-x {
    @apply px-5 lg:px-10;
  }
  .container-full {
    @apply padding-x;
  }
  .container-tiny {
    @apply max-w-screen-sm mx-auto padding-x;
  }
  .container-narrow {
    @apply max-w-screen-lg mx-auto padding-x;
  }
  .container-wide {
    @apply max-w-screen-xl mx-auto padding-x;
  }
  .clickable-opacity {
    @apply cursor-pointer hover:opacity-90 active:opacity-80 transition-all duration-75 ease-out;
  }
  .clickable {
    @apply clickable-opacity active:scale-95;
  }
  .clickable-text {
    @apply cursor-pointer hover:bg-white hover:bg-textHoverBg active:opacity-80 transition-all duration-75 ease-out;
  }
  .form {
    @apply rounded-md px-3 py-1.5 border border-foreLighter box-border placeholder:text-foreLight bg-transparent;
  }
  .form-md {
    @apply text-base py-[5px] px-[11px];
  }
  .form-sm {
    @apply text-sm px-2 py-1.5;
  }
  .btn {
    @apply clickable text-xs select-none px-[1.15em] h-[2.4rem] rounded-md font-semibold flex items-center justify-center bg-buttonBgDefault text-white/90 border border-buttonBgDefault;
  }
  .btn-text {
    @apply clickable-text px-[1.15em] py-[0.75em] bg-transparent border-transparent text-fore;
  }
  .btn-disabled {
    @apply opacity-50 hover:opacity-50 pointer-events-none;
  }
  .btn-large {
    @apply text-sm px-[0.8em] py-3;
  }
  .btn-small {
    @apply text-xs px-[6px] h-[25px];
  }
  .btn-white {
    @apply bg-card border border-[#c3c3c3] text-fore;
  }
  .btn-gray {
    @apply bg-backLightest text-foreLight border-backLightest;
  }
  .btn-primary {
    @apply bg-buttonBgPrimary text-white border-buttonBgPrimary;
  }
  .btn-danger {
    @apply bg-backDanger text-foreDanger border-none;
  }
}

/**
* Default
*/

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

textarea {
  resize: none;
}

input,
textarea {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* No scroll bar */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/**
* For Markdown
*/

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply font-bold mb-[0.5em] mt-[0.2em];
}

.markdown h1 {
  @apply text-3xl;
}

.markdown h2 {
  @apply text-2xl;
}

.markdown h3 {
  @apply text-xl;
}

.markdown h4 {
  @apply text-lg;
}

.markdown h5 {
  @apply text-base;
}

.markdown ul {
  @apply list-disc pl-5 mb-3;
}

.markdown ol {
  @apply list-decimal pl-5 mb-3;
}

.markdown li {
  @apply mb-1;
}

.markdown blockquote {
  @apply border-l-4 border-foreLight pl-3 my-3;
}

.markdown a {
  @apply underline text-link font-bold clickable;
}

.markdown p {
  @apply mb-3;
}

.markdown blockquote {
  @apply border-l-4 border-borderLight pl-3 my-3 text-lg text-foreSecondary italic;
}

/* .markdown .line-through {
  text-decoration: line-through;
  text-decoration-color: 
} */
