<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/dist/app.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    404 Not Found
  </body>
  <script src="/dist/app.bundle.js"></script>
</html>
