<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#" data-theme="dark">
  <head>
    <%- include('../partials/head') %>
    <title>Papery</title>
    <meta name="description" content="This is app page of Papery." />

    <link rel="stylesheet" href="/dist/app.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <div ontouchstart="" id="root">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 100vw;
          font-family: Lora;
          gap: 12px;
          font-size: 18px;
          color: #333;
        "
        class="fadein"
      >
        <img src="/img/brand/brandicon-shadow.webp" style="width: 110px" />
        Opening the journal...
      </div>
    </div>
  </body>
  <script src="/dist/app.bundle.js"></script>
</html>
