<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>

    <link rel="canonical" href="https://papery.me/privacy" />

    <title>Privacy | Papery</title>
    <meta
      name="description"
      content="This is a privacy policy page of Papery."
    />

    <link rel="stylesheet" href="/styles/landing.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- Privacy Policy Section -->
    <section id="privacy-policy" class="document">
      <div class="container">
        <h1>Privacy Policy</h1>
        <p>Last updated: 22nd May 2024</p>

        <h2>Introduction</h2>
        <p>
          Welcome to Papery! Your privacy is important to us. This privacy
          policy explains what personal data we collect, how we use it, and your
          rights regarding your data.
        </p>

        <h2>Information We Collect</h2>
        <p>
          We collect information to provide better services to our users. This
          includes:
        </p>
        <ul>
          <li>
            <strong>Personal Information:</strong> Name, email address, and any
            other information you provide when you contact us or register for
            our services.
          </li>
          <li>
            <strong>Usage Data:</strong> Information on how you use our app,
            including but not limited to, log data, usage statistics, and device
            information.
          </li>
        </ul>

        <h2>Information We Do Not Collect</h2>
        <p>We do not collect any decrypted content of your entries.</p>

        <h2>How We Use Your Information</h2>
        <p>We use the information we collect for the following purposes:</p>
        <ul>
          <li>To provide and maintain our service</li>
          <li>To notify you about changes to our service</li>
          <li>To provide customer support</li>
          <li>
            To gather analysis or valuable information to improve our service
          </li>
          <li>To monitor the usage of our service</li>
          <li>To detect, prevent, and address technical issues</li>
        </ul>

        <h2>Sharing Your Information</h2>
        <p>
          We do not share your personal data with third parties except in the
          following circumstances:
        </p>
        <ul>
          <li>With your consent</li>
          <li>
            For external processing by trusted partners and service providers
          </li>
          <li>
            For legal reasons, such as complying with laws and regulations
          </li>
        </ul>

        <h2>Your Data Protection Rights</h2>
        <p>You have the following data protection rights:</p>
        <ul>
          <li>The right to access, update, or delete your personal data</li>
          <li>The right to rectification</li>
          <li>The right to object</li>
          <li>The right to restriction</li>
          <li>The right to data portability</li>
          <li>The right to withdraw consent</li>
        </ul>
        <p>
          If you wish to exercise any of these rights, please contact us at
          [contact email].
        </p>

        <h2>Security of Your Data</h2>
        <p>
          We take the security of your data seriously and use appropriate
          measures to protect it. However, no method of transmission over the
          Internet or method of electronic storage is 100% secure.
        </p>

        <h2>Changes to This Privacy Policy</h2>
        <p>
          We may update our privacy policy from time to time. We will notify you
          of any changes by posting the new privacy policy on this page.
        </p>
        <p>
          You are advised to review this privacy policy periodically for any
          changes. Changes to this privacy policy are effective when they are
          posted on this page.
        </p>

        <h2>Contact Us</h2>
        <p>
          If you have any questions about this privacy policy, please contact us
          at papery.contact@gmail.com.
        </p>
      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
