<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
  <head>
    <%- include('../partials/head') %>

    <title>Sign Up | Papery</title>
    <meta name="description" content="This is a sign up page of Papery." />

    <link rel="stylesheet" href="/dist/login.css" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body ontouchstart="" id="root">
    Loading...
  </body>

  <script src="/dist/login.bundle.js"></script>
</html>
