<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>

    <link rel="canonical" href="https://papery.me/terms" />

    <title>Terms | Papery</title>
    <meta
      name="description"
      content="This is a terms & conditions page of Papery."
    />

    <link rel="stylesheet" href="/styles/landing.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- Terms of Service Section -->
    <section id="terms-of-service" class="document">
      <div class="container">
        <h1>Terms of Service</h1>
        <p>Last updated: 22nd May 2024</p>

        <h2>Introduction</h2>
        <p>
          Welcome to Papery! These terms of service ("Terms") govern your use of
          our website and services. By accessing or using Papery, you agree to
          comply with and be bound by these Terms.
        </p>

        <h2>Use of Our Service</h2>
        <p>
          You agree to use our service only for lawful purposes and in
          accordance with these Terms. You agree not to use our service:
        </p>
        <ul>
          <li>
            In any way that violates any applicable local, national, or
            international law or regulation.
          </li>
          <li>
            To impersonate or attempt to impersonate Papery, a Papery employee,
            another user, or any other person or entity.
          </li>
        </ul>

        <h2>Account Security</h2>
        <p>
          If you choose or are provided with a user name, password, or any other
          piece of information as part of our security procedures, you must
          treat such information as confidential. You must not disclose it to
          any third party. We have the right to disable any user name or
          password at any time if, in our opinion, you have failed to comply
          with any of the provisions of these Terms.
        </p>

        <h2>Termination</h2>
        <p>
          We may terminate or suspend your access to all or part of our service
          for any reason, including without limitation, any violation of these
          Terms. Upon termination, you will have 1 month grace period to export
          your data. After this period, your data will be permanently deleted.
        </p>

        <h2>Limitation of Liability</h2>
        <p>
          In no event will Papery, its affiliates, or their licensors,service
          providers, employees, agents, officers, or directors be liable for
          damages of any kind, under any legal theory, arising out of or in
          connection with your use, or inability to use, the service, including
          any direct, indirect, incidental, special, consequential, or punitive
          damages, including but not limited to, personal injury, pain and
          suffering, emotional distress, loss of revenue, loss of profits, loss
          of business or anticipated savings, loss of use, loss of goodwill,
          loss of data, and whether caused by tort (including negligence),
          breach of contract, or otherwise, even if foreseeable.
        </p>

        <h2>Governing Law</h2>
        <p>
          These Terms are governed by and construed in accordance with the laws
          of Japan, without regard to its conflict of law principles. You agree
          to submit to the exclusive jurisdiction of the courts located in Japan
          for the resolution of any disputes.
        </p>

        <h2>Use of Our Source Code</h2>
        <p>
          You must not use our source code for commercial purposes without our
          written permission. The commercial use of our source code includes but
          is not limited to, selling or distributing the source code for
          financial gain.
        </p>

        <h2>Changes to These Terms</h2>
        <p>
          We may update our Terms from time to time. We will notify you of any
          changes by posting the new Terms on this page. You are advised to
          review these Terms periodically for any changes. Changes to these
          Terms are effective when they are posted on this page.
        </p>

        <h2>Contact Us</h2>
        <p>
          If you have any questions about these Terms, please contact us at
          papery.contact@gmail.com.
        </p>
      </div>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
