<footer>
  <div class="container">
    <div class="brand-mark">
      <img src="/img/brand/brandicon.png" alt="Papery brand icon" />
      <h3>Papery</h3>
    </div>

    <ul>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/commerce">Commerce</a></li>
      <li>
        <a
          href="https://x.com/PaperyJournal"
          target="_blank"
          rel="noopener noreferrer"
        >
          Twitter</a
        >
      </li>
    </ul>
    <p>&copy; 2024 Papery. All rights reserved.</p>
  </div>
</footer>
