<header>
  <div class="container">
    <a href="/" class="logo">Papery</a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#examples">Examples</a></li>
        <li><a href="/#features">Features</a></li>
        <li><a href="/#mission">Mission</a></li>
        <li><a href="/#pricing">Pricing</a></li>
      </ul>
    </nav>
  </div>
</header>
