<link rel="manifest" href="/manifest.json" />

<!-- apple icon -->
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/img/brand/icons/icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="96x96"
  href="/img/brand/icons/icon-96x96.png"
/>
<link
  rel="apple-touch-icon"
  sizes="128x128"
  href="/img/brand/icons/icon-128x128.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/img/brand/icons/icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/img/brand/icons/icon-152x152.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/android-icon-192x192.png"
/>

<!-- favicon -->
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"
/>

<!-- og -->
<meta property="og:title" content="Papery" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://papery.me" />
<meta property="og:image" content="https://papery.me/img/brand/ogimage.png" />
<meta
  property="og:description"
  content="A journal app that adapts to your needs."
/>

<!-- Twitter Card Small -->
<meta name="twitter:card" content="summary" />

<!-- Google Signin -->
<meta name="google-signin-scope" content="profile email" />
<meta
  name="google-signin-client_id"
  content="5750451646-nve4egbltvvg8qufn4li5kqh7u98padj.apps.googleusercontent.com"
/>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-L7CXXJRV7M"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-L7CXXJRV7M");
</script>

<title>Papery App</title>
<meta name="description" content="This is an application page of Papery." />
